* {
}

div {
    display:block;
}

ul {
    list-style-type:none;
    float: right;
    right: 20px;
}

.sprite_buttons div {
    background-image: url("http://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
    background-repeat: no-repeat;
    background-size:528px 68px;
    height: 25px; width: 25px;
    padding:0;
    display:block;
}

li {
    display: inline-block;
    border-radius:20px;
    font-size: 13px;
    height:25px;
    font-family: arial, sans-serif;
}

#button {
    background-position: -136px -40px;
}

#bell {
    background-position: -191px -18px;
    background-color: rgba(0,0,0,.55);
    border-radius: 100%
}

#main_piece {
    top:85px;
    height:300px;
    position:relative;
    border:2px dotted blue;
}

#logo {
    top:25px; left:42.6%;
    padding-top: 80px;
    position: absolute;
    margin-left:auto; margin-right:auto;
    vertical-align: middle;
}

table {
    width:100px;
    position: relative;
    padding-top:30px;
    bottom: 20px;
    left: 34.2%;
}

.sButton {
    width: 200px;
    font-family: arial, sans-serif;
    font-size:13px;
    font-weight:bold;
    color: #757575;
}

#search_bar{
    left:50%;
    width: 580px;
    height: 35px;
    display: block;
    border: 1px solid #DCDADA;
}

#search_bar:focus {
    border: 1px solid #5787E6;
}
