* {
}

div {
    display: block;
}

.sprite_buttons div {
    background-image: url("http://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
    background-repeat: no-repeat;
    background-size:528px 68px;
    height: 20px; width: 20px;
    padding:0;
    display:block;
}

#navbar {
    width: 310px;
    position:relative;
    left: 84%; top:8px;
    vertical-align: middle;
    font-family: arial, sans-serif;
    font-size: 13.5px;
    margin-top:8px;
}

.navObj{
    display: inline-block;
    height:25px;
    vertical-align: middle;
    margin: 0 12px 0 0;
}

#button {
    margin-bottom:-10px;
    padding-bottom:-10px;
    vertical-align:middle;
    opacity: .55;
    background-position: -136px -41px;
}

#bell {
    background-position: -194.5px -21px;
    background-color: rgba(0,0,0,.55);
    border-radius: 100%;
    margin-top: 4px;
}

#prof_pic {
    width:35px; height:35px;
    border-radius:100%;
    background-color: #004C99;
    text-align:center;
    vertical-align: middle;
    margin: 0 0 0 0;
}

#prof_pic p{
    font-size:16px;
    vertical-align: middle;
    padding-top: 4px;
    margin-top: -5px;
}

div div p {
    text-align:center;
    vertical-align: middle;
    margin:0;
    line-height:25px;
    font-size:13px;
    opacity: 0.8;
}

#center_of_page{
    position: relative;
    top: 70px;
    width:100%;
    margin: 0 auto;
    margin-left:-8px;
}

#main_piece {
    width:15%;
    vertical-align: auto;
    margin: 0 auto;
    position: relative;
    margin-top:121px;
    bottom: 50%;
}

#search_form {
    width:33%;
    margin-top:20px;
    vertical-align: middle;
    left: 34%;
    position:relative;
}

table {
    width:100px;
    vertical-align: auto;
    padding-top:30px;
    bottom: 20px;
    position:relative;
}

td {
    width:50%;
}

.sButton {
    width: 150px;
    font-family: arial, sans-serif;
    font-size:13px;
    font-weight:bold;
    color: #757575;
    text-decoration: none;
    border:none;
    background-color: #F0F0F0;
    margin-top:29px;
    margin-left: -168px;
    height: 35px;
}

#search_button{
    margin-left: 122px;
    width: 130px;
}


#search_bar{
    left:50%;
    width: 580px;
    height: 35px;
    display: block;
    border: 1px solid #DCDADA;
    padding-left:10px;
}

#search_bar:focus {
    border: 1px solid #0080ce;
}

#bot_bar{
    background-color: #F0F0F0;
    width: 100%; height: 35px;
    position: absolute;
    display:block;
    bottom: 0px;
    margin-left:-8px;
    border-top: 1px solid #E4E4E4;
}

ul {
    list-style-type: none;
    overflow:hidden;
    margin: 0 0 0 0;
    padding-top:14px;
    padding-left: 1.5%;
}

li{
    float:left;
}

li a {
    display: block;
    text-decoration: none;
    color: #606060;
    padding-right: 25px;
    font-size: 13px;
    font-family:sans-serif;
    vertical-align: middle;
    text-align:center;
}
