* {
}

div {
    display:block;
}

#main_piece {
    top:85px;
    height:300px;
    position:relative;
    border:2px dotted blue;
}

#logo {
    top:50px; left:43%;
    padding-top: 80px;
    position: absolute;
    margin-left:auto; margin-right:auto;
    vertical-align: middle;
}

table {
    width:100px;
    position: relative;
    padding-top:50px;
    bottom: 20px;
    left: 35%;
}

.sButton {
    width: 200px;
    font-family: arial, sans-serif;
    font-size:13px;
    font-weight:bold;
    color: #757575;
}

#search_bar{
    left:50%;
    width: 560px;
    height: 30px;
    display: block;
    border: 1px solid #DCDADA;
}

#search_bar:focus {
    border: 1px solid blue;
}
